body {
    background: cornsilk;
    font-family:Futura;
    margin:0;
    font-size: calc(10px + 1vw);
    
}

#header {
    background: cornflowerblue;
    padding: 30 2vw;
    margin:0 5vw;
}

#header h1,h2 {
    margin:auto;
    padding: .3em 1em;

}

h1 {
    color: moccasin;
    padding: 5px 35px;
}

h2{
    color:moccasin;
    padding: 5px 35px;
    opacity:.5;
}
#navbar {
    background:lightgray;
    display:grid;
    justify-content:end;
    font-size: calc(8px + .5vw);
}

#navbar > ul{
    padding: .5em;  
    margin:.5em;
}
#navbar > ul> li {
    display:inline-grid;
    padding: 0 1em;
  
}

#main {
    background: rgba(0,0,0,.03);
    margin:0 5vw;
    padding: 1em 0;
    color:steelblue;
}

#footer {
    background:darkviolet;
    color:lightgray; 
    padding:10px;
    display:grid;
    align-self:end;
    height:auto;
    text-align:center;
    width:100%;
}

#pages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr ));
    grid-gap: 2em;

}

.page {
    background: lightgrey;
    padding:20px;
}